data/presentation.pptx
data/credits.txt
data/skrypt.txt
data/.*
data/coats-of-arms
data/backgrounds
data/slides
data/edited-backgrounds
data/edited-coats-of-arms
data/voivodeships/*_transparent.png
target/
node_modules
